{% extends 'base.html.twig' %}

{% block title %}Wystaw komentarz{{parent()}}{% endblock %}

{% block body %}

<h1>Wystaw komentarz do aukcji</h1>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}