{% extends 'base.html.twig' %}

{% block title %}Powiadomienia{{parent()}}
{% endblock %}

{% block body %}

	{% for notification in notifications %}
        <p>{{notification.message}}</p>
    {% endfor %}

{% endblock %}
