{% extends 'base.html.twig' %}

{% block title %}Powiadomienia{{parent()}}
{% endblock %}

{% block body %}

	{% for notification in notifications %}
        <p>{{notification.message}}{% if 'komenatrz' in notification.message %} <a href="{{path('profile-details', {'username': app.user})}}">Zobacz</a>{% endif %}</p>
        
    {% endfor %}

{% endblock %}
