{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}

<h1>Dashboard</h1>
<a href="{{path('my-auctions')}}"><h2>Show and manage my auctions</h2></a>
<h2>Change pwd</h2>
<h1> Stats in here </h1>

{% endblock %}