{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
<h1>Details of user {{USR}}</h1>
<a href="{{path('my-auctions')}}"><h2>Show auctions of this user</h2></a>
<h1> Stats in here </h1>
<pre>
    {{ dump(USR) }}
</pre>

{% endblock %}