<h2 {% if notifications|length == 0 %}class="no-borders"{% endif %} onclick="window.location.href='{{path('my-notifications')}}';">{% if notifications|length == 0 %} Brak powiadomień {% else %}
	Powiadomienia - <span>{{ notifications|length }}</span>{% endif %}
</h2>

{% for notification in notifications %}
    

<div class="notifications-item">
	<div class="text">
	{% if notification.seenAt == null %}<b>{% endif %}
		<h4>{{notification.createdAt|ago}}</h4>
		<p>{{notification.message}}</p>
		{% if notification.seenAt == null %}</b>{% endif %}
	</div>
</div>

{% endfor %}
