<h2 onclick="window.location.href='{{path('my-notifications')}}';">{% if notifications|length == 0 %} No notifications {% else %}
	Notidications - <span>{{ notifications|length }}</span>{% endif %}
</h2>

{% for notification in notifications %}
    

<div class="notifications-item">
	<div class="text">
		<h4>{{notification.createdAt|ago}}</h4>
		<p>{{notification.message}}</p>
	</div>
</div>

{% endfor %}
