{% extends 'base.html.twig' %}

{% block title %}Aukcje
{% endblock %}

{% block body %}
	<h1>PORTAL DO PRZEPROWADZANIA AUKCJI PIECÓW WĘDZARNICZYCH</h1>

	<div class="container">
		<div class="row">
			<ul class="list-group col">
				{% for auction in auctions %}

					<a href="{{path('auction-details',{'auctionId': auction.id})}}" class="list-group-item list-group-item-dark list-group-item-action">[#{{auction.id}}] |
						{{auction.title}}
						| kończy się
						{{auction.endsAt|date('Y-m-d')}}</a>

				{% endfor %}
			</ul>


		</div>
		<div class="row">
			<nav class="mt-2" aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a class="page-link" href="#">Previous</a>
					</li>

{% for item in items %}
    
{% endfor %}
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>


					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}
