{% extends 'base.html.twig' %}

{% block title %}Aukcja pieca {{auction.title}}{% endblock %}



{% block body %}

<h1>Aukcja pieca {{auction.title}}</h1>
<p>{{auction.description}}</p>

<br>

{% for offer in auction.offers %}
    Emis: {{offer.value/100}} PLN <br>
{% endfor %}

{% endblock %}
