{% extends 'base.html.twig' %}

{% block title %}Nowa aukcja{% endblock %}



{% block body %}

<h1>Formularz dodawania aukcji</h1>

{{ form_start(form) }}
{{ form_widget(form.title) }}
{{ form_widget(form.description) }}
{{ form_end(form)}}
{% endblock %}
