{% for auction in auctions %}
					
										<a href="{{path('auction-details',{'auctionId': auction.id})}}" class="list-group-item list-group-item-dark list-group-item-action">[#{{auction.id}}] |
											{{auction.title}}
											| kończy się
											{{ auction.endsAt|date('Y-m-d') }}</a>
					{% endfor %}