body
{
	background-color: #2F3336 !important;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}
/* 
.navbar-nav li:hover>.dropdown-menu
{
	display:block;
} */
/* CWD */ 

.dropdown-menu-right {
  right: 0;
  left: auto;
} 

.first-sectionn
{
  flex-grow:1;
}

.search-input
{
  min-width: 100px;
  max-width: 350px;
  flex-grow:1;
}

/*eSTART notification bell */ 

.no-borders
{
  border-bottom:none !important;
}

.navbar
{
	min-height: 57px;
	height:60px;
}

.icon {
    cursor: pointer;
    /* margin-right: 50px; */
    line-height: 60px
}

.icon span {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px
}

.icon img {
    display: inline-block;
    width: 20px;
}

.icon:hover {
    opacity: .7
}

.logo {
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace
}

.notifications {
    display: none;
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 0px;
    left:auto;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.notifications h2 {
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p {
    color: #aaa;
    font-size: 12px
}
/*end notification bell */ 

.list-group-item-dark
{
	background-color:#373a3d;
	color: white;
}

/*.list-group-item-dark:hover
{
	background-color:#9acb7d !important;
}*/

.list-group .active
{
	background-color:#474a4d !important;
	/*background-color:#9acb7d !important;*/
	cursor: default;
}

.blockquote
{
	line-height: 120%;
}

@media (max-width: 575px)
{


	.blockquote
	{
		font-size: 17px;
	}
}

.form-select
{
	width: auto;
}

#drop-area {
	border: 2px dashed #ccc;
	border-radius: 20px;
	font-family: sans-serif;
	margin: 100px auto;
	padding: 20px;
  }
  #drop-area.highlight {
	border-color: purple;
  }
  p {
	margin-top: 0;
  }
  .my-form {
	margin-bottom: 10px;
  }
  #gallery {
	margin-top: 10px;
  }
  #gallery img {
	width: 150px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
  }
  .button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  .button:hover {
	background: #ddd;
  }
  #fileElem {
	display: none;
  }

  .page-item
  {
	  cursor:pointer;
  }

  .user_name{
    font-size:14px;
    font-weight: bold;
}
	.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: auto;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}