body
{
	background-color: #2F3336 !important;
	/* color: #efefef; */
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.navbar-nav li:hover>.dropdown-menu
{
	display:block;
}

.navbar
{
	min-height: 57px;
}


.list-group-item-dark
{
	background-color:#373a3d;
	color: white;
}

.list-group-item-dark:hover
{
	background-color:#9acb7d !important;
}

.list-group .active
{
	background-color:#9acb7d !important;
	cursor: default;
}

.blockquote
{
	line-height: 120%;
}

@media (max-width: 575px)
{


	.blockquote
	{
		font-size: 17px;
	}
}

.form-select
{
	width: auto;
}

#drop-area {
	border: 2px dashed #ccc;
	border-radius: 20px;
	width: 480px;
	font-family: sans-serif;
	margin: 100px auto;
	padding: 20px;
  }
  #drop-area.highlight {
	border-color: purple;
  }
  p {
	margin-top: 0;
  }
  .my-form {
	margin-bottom: 10px;
  }
  #gallery {
	margin-top: 10px;
  }
  #gallery img {
	width: 150px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
  }
  .button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  .button:hover {
	background: #ddd;
  }
  #fileElem {
	display: none;
  }

  .page-item
  {
	  cursor:pointer;
  }