<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">


		{# <link rel="stylesheet" href="{{asset ('main.css')}}" #}
        {% endblock %}

        
    </head>
    <body class="bg-jumperz">
        {% block header %}
            <header>
		<nav class="navbar navbar-dark bg-primary navbar-expand-md">
			<a class="navbar-brand ms-1" href="#"> <img class="d-none d-md-inline-block align-bottom" src="{{asset('img/logo.png')}}" width="30" height="30" alt=""/> <span>PDAPW.PL</span></a>

			<!-- <p class="d-inline-block mb-0">Skoki.pl</p> -->

			<button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="mainmenu">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="http://localhost:8001">Start</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" href="#">Nested</a>

						<div class="dropdown-menu">
							<a class="dropdown-item">Terminarz zawoduw</a>
							<a class="dropdown-item">Organizator</a>

							<div class="dropdown-divider"></div>

							<a class="dropdown-item">Zaradkiewicz</a>
							<a class="dropdown-item">Telestry</a>
						</div>

					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">ZALOZYCIELS</a>
					</li>
				</ul>

				<form class="d-flex me-1">
					<input type="text" class="form-control me-1" placeholder="First name" aria-label="First name">
					<button class="btn btn-light" type="submit">Znajdź</button>
				</form>

			</div>

		</nav>


	</header>
        {% endblock %}

        {% block body %}{% endblock %}
    </body>

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        {% endblock %}

</html>
