<form id="filterz">
	<input id='input_search' type="text" placeholder="Szukaj"{# onkeyup="processChange()"#}>
	<button class="btn btn-secondary" onclick='submitFilters()' type='button'>CONFIRM</button>
<button class="btn-primary btn" onclick="$('#filtersDiv').toggleClass('d-none')" type="button">Filt</button>
<div class="row d-none" id='filtersDiv'>

	<label for="search">szukaj wg</label>
	<select name="search" id="select_searchtype"{# onchange="processChange()"#}>
		<option selected value="1">tytulu</option>
		<option value="2">opisu</option>
	</select>
	
	<label for="liveness">Aktualnosc</label>
	<select name="liveness" id="select_liveness"{# onchange="processChange()"#}>
		<option selected value="1">Aktywne</option>
		<option value="2">Zakończone</option>
		<option value="3">Wszystkie</option>
		<option value="4">bliskie zakonczenia 1h</option>
	</select>


	<input id="input_price_s" type="number" placeholder="cena od"{# onkeyup="processChange()"#}>
	<input id="input_price_e" type="number" placeholder="cena do"{# onkeyup="processChange()"#}>

	<input id="input_byuser" type="text" placeholder="użytkownika"{# onkeyup="processChange()"#}>
<br>
	<label for="sort">Sortuj według</label>
	<select name="sort" id="select_criteria"{# onchange="processChange()"#}>
		<option selected value="1">Nazwy</option>
		<option value="2">Utworzenia</option>
		<option value="3">Daty Zakonczenia</option>
		<option value="4">Ceny</option>
		<option value="5">Ilosci ofert</option>
		<option value="6">Ilosci komentarzy</option>
	</select>


	<label for="order">Porzadek</label>
	<select name="order" id="select_order"{# onchange="processChange()"#}>
		<option selected value="1">Rosnaco</option>
		<option value="2">Malejąco</option>
	</select>
	<br>
	<label for="favor">Pokazuj tylko ulubione</label>
	<input type='checkbox' name="favor" id="favor"/>
	<br>
<br>
	<button class="btn btn-secondary" onclick='submitFilters()' type='button'>SUBMIT</button>
	<input class="btn btn-secondary" type="reset" onclick="resetFilters()">
</form>
</div>