function submitFilters(toggle)
{	
	if(toggle)
		toggleFilters();
	reStoreInputsState();
	getAuctions( {{ app.request.get('page') }} );
}

function reStoreInputsState()
{
	if($('#input_search').val() != '')
		GAJArray.filters.f_search = $('#input_search').val();
	else
		delete(GAJArray.filters.f_search);

	GAJArray.filters.fo_search = $('#select_searchtype').val();
	GAJArray.filters.f_liveness = $('#select_liveness').val();


	if($('#input_price_s').val() != '')
		GAJArray.filters.f_prices = $('#input_price_s').val();
	else
		delete(GAJArray.filters.f_prices);

	if($('#input_price_e').val() != '')
		GAJArray.filters.f_pricee = $('#input_price_e').val();
	else
		delete(GAJArray.filters.f_pricee);

	if($('#input_byuser').val() != '')
		GAJArray.filters.f_byuser = $('#input_byuser').val();
	else
		delete(GAJArray.filters.f_byuser);

	// sort
	GAJArray.filters.s_criteria = $('#select_criteria').val();
	GAJArray.filters.s_order = $('#select_order').val();

	// favor 
	GAJArray.filters.f_favor = $("#favor").is(':checked');
}

function resetFilters(toggle)
{
	if(toggle)
		toggleFilters();
    document.getElementById('filterz').reset();
    submitFilters();
}

function submitFiltersAutocomplete()
{	
	reStoreInputsState();
	getAuctionsAutocomplete();
}

const processChange = debounce(() => submitFiltersAutocomplete());

function debounce(func, timeout = 250)
{
	let timer;
	return (...args) => {
	clearTimeout(timer);
	timer = setTimeout(() => { func.apply(this, args); }, timeout);
	};
} 
// <li class="nav-item dropdown">
// 	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" href="#">Nested</a>

// 	<div class="dropdown-menu">
// 		<a class="dropdown-item">Terminarz zawoduw</a>
// 		<a class="dropdown-item">Organizator</a>

// 		<div class="dropdown-divider"></div>

// 		<a class="dropdown-item">Zaradkiewicz</a>
// 		<a class="dropdown-item">Telestry</a>
// 	</div>

// </li>